@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

header {
    position: relative;
    height: 100px;
    background: #0073b6;
}

body {
    background: url("https://ep1.pinkbike.org/p6pb15586914/p6pb15586914.jpg") center top no-repeat fixed rgb(255, 255, 255)
}

.logo {
    position: absolute;
    top: 15px;
    left: 50px;
    width: 300px;
}

nav {
    width: 300px;
    height: fit-content;
    background: rgba(200,200,200, 0.85);
    margin: 10px 0px 10px 15px;
    font-family: 'Montserrat', sans-serif;
}

nav ul {
    padding: 0 15px;
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

main {
    width: 100%;
    height: auto;
    margin: 10px 20px;
    padding: 15px 35px;
    background: rgba(230,230,230, 0.95);
}

.radius {
    border-radius: 5px;
}

aside {
    width: 300px;
    height: fit-content;
    background: rgba(200,200,200, 0.85  );
    margin: 10px 15px 10px 0;
    padding: 15px 35px;
    
}

.rev-head {
    text-align: center;
    color: white;
    background-color: red;
}

.review {
    Margin-bottom: 15px;
}

.review::before {
    font-weight: bolder;
    color: #00598d;
    content: "«";
}

.review::after {
    font-weight: bolder;
    color: #00598d;
    content: "»";
}

footer {
    font-size: 90%;
    height: 75px;
    background: #0073b6;
    text-align: center;
    color: white;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 180px;
}

.container {
    display: flex;
    height: auto;
    background: transparent;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif; 
}  

h2 {
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 35px;
}

h3 {
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    color: #00598d;
    margin-bottom: 0;
}

main p {
    margin-top: 10px;
    text-align: justify;
}

.preview {
    width: 100px;
}

img.preview {
    transition: all 1s ease;
}

img.preview:hover {
    position: relative;
    transform: scale(3) translate(0, -50px);
}

.centerflex {
    display: flex;
    height: 100px;
    margin: 0 10%;
}
.center {
    display: block;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  th, td {
    border: 1px solid #cecfd5;
    padding: 10px 15px;
    width: 150px;
  }
  th {
      text-align: center;
  }
  thead {
    background-color: #0073b6;
    color: white;
  }

/* styling for navigation links */
nav a:link {
    color: black;
    font-weight: bold;
    padding: 2px 8px;
    text-decoration: none;
    background-color: yellow;
}

nav a:visited {
    color: #00598d;
    font-weight: bold;
    padding: 2px 8px;
    text-decoration: none;
    background-color: yellow;
}

nav a:hover {
    color: red;
    text-decoration: underline;
}

nav a:active {
    text-decoration: underline;
}

img.clip {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* set mobile view if width of the screen changes */
@media only screen and (max-width: 768px) {

    .container {
        display: block;
    }

    footer {
        padding: 10%;
    }

    footer, main, aside, nav {
        height: fit-content;
        width: auto;
        margin: auto;        
    }

    nav {
        padding-top: 5px;
    }

    iframe {
        width: auto;
    }

    .centerflex {
        display: inline;
        margin: 0;
    }

    img.center {
        display: inline;
    }

    img.preview:hover {
        transform: none;
    }

}